{% extends "pageLayout.html" %}

{% block body %}
    <h1>Registration:</h1>
    <form action="/register" method="POST" name="studentForm">
        <input name="name" autocomplete="off" autofocus placeholder="Name" type="text">
        <input name="email" autocomplete="off" autofocus placeholder="Email" type="email">
        <select name="branch" autofocus>
            <option disabled selected value="">Branch</option>
            <option value="CS">CS</option>
            <option value="IT">IT</option>
        </select>
        <input type="submit" value="Register" autofocus>
    </form>
    <script>
        document.querySelector('form').onsubmit =  function(){
            if(!document.querySelector('input').value){
                alert("You must enter your name and email!");
                return false;
            }
            else if(!document.querySelector('select').value){
                alert("You must provide your branch");
                return false;
            }
        };
    </script>
     
{% endblock %}